on: [push]
jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
    
    - uses: actions/checkout@master
    
    - uses: azure/login@v1
      with:
        creds: ${{ secrets.AZURE_CREDENTIALS }}

    - name: Create ACR
      id: create-acr
      run: |
        az acr create -n eses5registry -g eses5registryacd8-rg --location "UK South" --sku Basic --admin-enabled
        echo "::set-output name=acr_username::`az acr credential show -n eses5registry --query username | xargs`"
        echo "::set-output name=acr_password::`az acr credential show -n eses5registry --query passwords[0].value | xargs`"
        echo "::add-mask::`az acr credential show -n eses5registry --query passwords[0].value | xargs`"

    - uses: azure/docker-login@v1
      with:
        login-server: eses5registry.azurecr.io
        username: ${{ steps.create-acr.outputs.acr_username }}
        password: ${{ steps.create-acr.outputs.acr_password }}

    - name: Build and push image to ACR
      id: build-image
      run: |
        docker build "$GITHUB_WORKSPACE/frontend" -f  "frontend/Dockerfile" -t eses5registry.azurecr.io/eses5cluster:${{ github.sha }} --label dockerfile-path=frontend/Dockerfile
        docker push eses5registry.azurecr.io/eses5cluster:${{ github.sha }}
    
    - uses: azure/k8s-set-context@v1
      id: login
      with:
         kubeconfig: ${{ secrets.aks_eses5cluster_kubeConfig }}
    
    - name: Create namespace
      run: |
        namespacePresent=`kubectl get namespace | grep default | wc -l`
        if [ $namespacePresent -eq 0 ]
        then
            echo `kubectl create namespace default`
        fi

    - uses: azure/k8s-create-secret@v1
      with:
        namespace: default
        container-registry-url: eses5registry.azurecr.io
        container-registry-username: ${{ steps.create-acr.outputs.acr_username }}
        container-registry-password: ${{ steps.create-acr.outputs.acr_password }}
        secret-name: eses5clusterdockerauth
       
    - uses: azure/k8s-deploy@v1.2
      with:
        namespace: default
        manifests: |
          manifests/deployment-3.yml
          manifests/service-3.yml
          manifests/ingress-3.yml
        images: |
          eses5registry.azurecr.io/eses5cluster:${{ github.sha }}
        imagepullsecrets: |
          eses5clusterdockerauth   
