name: BuildAndPublish

on:
  push:
    branches: [ main, development ]
  pull_request:
    branches: [ main, development ]
  workflow_dispatch:
  
jobs:
#   build_and_test_ProductManagmentSystem:
#     name: Build and Test ProductManagementSystem
#     runs-on: windows-2022
    
#     steps:
#       - uses: actions/checkout@v2
    
#       - name: Setup dotnet
#         uses: actions/setup-dotnet@v1
#         with:
#           dotnet-version: '6.0'
      
#       - name: Install dependencies
#         run: dotnet restore
#         working-directory: ./ProductManagementSystem/pms_api
      
#       - name: Build
#         run: dotnet build
#         working-directory: ./ProductManagementSystem/pms_api
        
#       - name: Test
#         run: dotnet test
#         working-directory: ./ProductManagementSystem/pms_test
        
#   build_and_test_InventoryManagmentSystem:
#     name: Build and Test InventoryManagementSystem
#     runs-on: windows-2022
    
#     steps:
#       - uses: actions/checkout@v2
    
#       - name: Setup dotnet
#         uses: actions/setup-dotnet@v1
#         with:
#           dotnet-version: '6.0'
      
#       - name: Install dependencies
#         run: dotnet restore
#         working-directory: ./InventoryManagementSystem/ims_api
      
#       - name: Build
#         run: dotnet build
#         working-directory: ./InventoryManagementSystem/ims_api
        
#       - name: Test
#         run: dotnet test
#         working-directory: ./InventoryManagementSystem/ims_test
  
#   build_and_test_OrderManagmentSystem:
#     name: Build and Test OrderManagementSystem
#     runs-on: windows-2022
    
#     steps:
#       - uses: actions/checkout@v2
    
#       - name: Setup dotnet
#         uses: actions/setup-dotnet@v1
#         with:
#           dotnet-version: '6.0'
      
#       - name: Install dependencies
#         run: dotnet restore
#         working-directory: ./OrderManagementSystem/oms_api
      
#       - name: Build
#         run: dotnet build
#         working-directory: ./OrderManagementSystem/oms_api
        
#       - name: Test
#         run: dotnet test
#         working-directory: ./OrderManagementSystem/oms_test
        
#   build_AuthService:
#     name: Build AuthService
#     runs-on: windows-2022
    
#     steps:
#       - uses: actions/checkout@v2
    
#       - name: Setup dotnet
#         uses: actions/setup-dotnet@v1
#         with:
#           dotnet-version: '6.0'
      
#       - name: Install dependencies
#         run: dotnet restore
#         working-directory: ./AuthenticationService/auth_service
      
#       - name: Build
#         run: dotnet build
#         working-directory: ./AuthenticationService/auth_service
        
#   build_Gateway:
#     name: Build Gateway
#     runs-on: windows-2022
    
#     steps:
#       - uses: actions/checkout@v2
    
#       - name: Setup dotnet
#         uses: actions/setup-dotnet@v1
#         with:
#           dotnet-version: '6.0'
      
#       - name: Install dependencies
#         run: dotnet restore
#         working-directory: ./Gateway/api_gateway
      
#       - name: Build
#         run: dotnet build
#         working-directory: ./Gateway/api_gateway

#   build_frontend:
#     name: Build Frontend
#     runs-on: ubuntu-latest
    
#     steps:
#       - uses: actions/checkout@v2
      
#       - name: Setup nodejs
#         uses: actions/setup-node@v2
#         with:
#           node-version: '16'
      
#       - name: Install dependencies
#         run: npm install
#         working-directory: ./frontend
      
#       - name: Install Angular
#         run: npm install -g @angular/cli
        
#       - name: Build
#         run: ng build
#         working-directory: ./frontend
        
#   sonarcloud_ProductManagementSystem:
#     name: SonarCloud ProductManagementSystem
#     needs: build_and_test_ProductManagmentSystem
#     runs-on: windows-latest
#     steps:
#       - name: Set up JDK 11
#         uses: actions/setup-java@v1
#         with:
#           java-version: 1.11
#       - uses: actions/checkout@v2
#         with:
#           fetch-depth: 0  # Shallow clones should be disabled for a better relevancy of analysis
#       - name: Cache SonarCloud packages
#         uses: actions/cache@v1
#         with:
#           path: ~\sonar\cache
#           key: ${{ runner.os }}-sonar
#           restore-keys: ${{ runner.os }}-sonar
#       - name: Cache SonarCloud scanner
#         id: cache-sonar-scanner
#         uses: actions/cache@v1
#         with:
#           path: .\.sonar\scanner
#           key: ${{ runner.os }}-sonar-scanner
#           restore-keys: ${{ runner.os }}-sonar-scanner
#       - name: Install SonarCloud scanner
#         if: steps.cache-sonar-scanner.outputs.cache-hit != 'true'
#         shell: powershell
#         run: |
#           New-Item -Path .\.sonar\scanner -ItemType Directory
#           dotnet tool update dotnet-sonarscanner --tool-path .\.sonar\scanner
#       - name: Build and analyze
#         env:
#           GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}  # Needed to get PR information, if any
#           SONAR_TOKEN: ${{ secrets.SONAR_TOKEN_PMS }}
#         shell: powershell
#         run: |
#           .\.sonar\scanner\dotnet-sonarscanner begin /k:"larsvandriel_ESES5_PMS" /o:"larsvandriel" /d:sonar.login="${{ secrets.SONAR_TOKEN_PMS }}" /d:sonar.host.url="https://sonarcloud.io"
#           dotnet build .\ProductManagementSystem\pms_api
#           .\.sonar\scanner\dotnet-sonarscanner end /d:sonar.login="${{ secrets.SONAR_TOKEN_PMS }}"
        
#   sonarcloud_InventoryManagementSystem:
#     name: SonarCloud InventoryManagementSystem
#     needs: build_and_test_InventoryManagmentSystem
#     runs-on: windows-latest
#     steps:
#       - name: Set up JDK 11
#         uses: actions/setup-java@v1
#         with:
#           java-version: 1.11
#       - uses: actions/checkout@v2
#         with:
#           fetch-depth: 0  # Shallow clones should be disabled for a better relevancy of analysis
#       - name: Cache SonarCloud packages
#         uses: actions/cache@v1
#         with:
#           path: ~\sonar\cache
#           key: ${{ runner.os }}-sonar
#           restore-keys: ${{ runner.os }}-sonar
#       - name: Cache SonarCloud scanner
#         id: cache-sonar-scanner
#         uses: actions/cache@v1
#         with:
#           path: .\.sonar\scanner
#           key: ${{ runner.os }}-sonar-scanner
#           restore-keys: ${{ runner.os }}-sonar-scanner
#       - name: Install SonarCloud scanner
#         if: steps.cache-sonar-scanner.outputs.cache-hit != 'true'
#         shell: powershell
#         run: |
#           New-Item -Path .\.sonar\scanner -ItemType Directory
#           dotnet tool update dotnet-sonarscanner --tool-path .\.sonar\scanner
#       - name: Build and analyze
#         env:
#           GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}  # Needed to get PR information, if any
#           SONAR_TOKEN: ${{ secrets.SONAR_TOKEN_IMS }}
#         shell: powershell
#         run: |
#           .\.sonar\scanner\dotnet-sonarscanner begin /k:"larsvandriel_ESES5_IMS" /o:"larsvandriel" /d:sonar.login="${{ secrets.SONAR_TOKEN_IMS }}" /d:sonar.host.url="https://sonarcloud.io"
#           dotnet build .\InventoryManagementSystem\ims_api
#           .\.sonar\scanner\dotnet-sonarscanner end /d:sonar.login="${{ secrets.SONAR_TOKEN_IMS }}"
        
#   sonarcloud_OrderManagementSystem:
#     name: SonarCloud OrderManagementSystem
#     needs: build_and_test_OrderManagmentSystem
#     runs-on: windows-latest
#     steps:
#       - name: Set up JDK 11
#         uses: actions/setup-java@v1
#         with:
#           java-version: 1.11
#       - uses: actions/checkout@v2
#         with:
#           fetch-depth: 0  # Shallow clones should be disabled for a better relevancy of analysis
#       - name: Cache SonarCloud packages
#         uses: actions/cache@v1
#         with:
#           path: ~\sonar\cache
#           key: ${{ runner.os }}-sonar
#           restore-keys: ${{ runner.os }}-sonar
#       - name: Cache SonarCloud scanner
#         id: cache-sonar-scanner
#         uses: actions/cache@v1
#         with:
#           path: .\.sonar\scanner
#           key: ${{ runner.os }}-sonar-scanner
#           restore-keys: ${{ runner.os }}-sonar-scanner
#       - name: Install SonarCloud scanner
#         if: steps.cache-sonar-scanner.outputs.cache-hit != 'true'
#         shell: powershell
#         run: |
#           New-Item -Path .\.sonar\scanner -ItemType Directory
#           dotnet tool update dotnet-sonarscanner --tool-path .\.sonar\scanner
#       - name: Build and analyze
#         env:
#           GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}  # Needed to get PR information, if any
#           SONAR_TOKEN: ${{ secrets.SONAR_TOKEN_OMS }}
#         shell: powershell
#         run: |
#           .\.sonar\scanner\dotnet-sonarscanner begin /k:"larsvandriel_ESES5_OMS" /o:"larsvandriel" /d:sonar.login="${{ secrets.SONAR_TOKEN_OMS }}" /d:sonar.host.url="https://sonarcloud.io"
#           dotnet build .\OrderManagementSystem\oms_api
#           .\.sonar\scanner\dotnet-sonarscanner end /d:sonar.login="${{ secrets.SONAR_TOKEN_OMS }}"
  
#   sonarcloud_frontend:
#     name: SonarCloud Frontend
#     needs: build_frontend
#     runs-on: ubuntu-latest
#     steps:
#       - uses: actions/checkout@v2
#         with:
#           fetch-depth: 0  # Shallow clones should be disabled for a better relevancy of analysis
#       - name: SonarCloud Scan
#         uses: SonarSource/sonarcloud-github-action@master
#         env:
#           GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}  # Needed to get PR information, if any
#           SONAR_TOKEN: ${{ secrets.SONAR_TOKEN_FRONTEND }}

  security_ProductManagementSystem:
    name: Security ProductManagementSystem
#     needs: sonarcloud_ProductManagementSystem
    runs-on: ubuntu-latest
    services:
      rabbitmq:
        image: rabbitmq:3.8
        env:
          RABBITMQ_DEFAULT_USER: "myUser"
          RABBITMQ_DEFAULT_PASS: "myPassword"
        ports:
          - 5672
    
    steps:
      - uses: actions/checkout@v2
    
      - name: Setup dotnet
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: '6.0'
      
      - name: Install dependencies
        run: dotnet restore
        working-directory: ./ProductManagementSystem/pms_api
      
      - name: Build
        run: dotnet run
        working-directory: ./ProductManagementSystem/pms_api
        env:
          Swagger: "Enabled"
          RabbitMQHost: job.services.rabbitmq
          RabbitMQPort: 5672
          RabbitMQUser: "myUser"
          RabbitMQPassword: "myPassword"
      
      - name: ZAP Scan
        uses: zaproxy/action-api-scan@v0.1.1
        with:
          target: 'http://localhost:7001/swagger'

#   dockerize_ProductManagementSystem:
#     needs: security_ProductManagementSystem
#     runs-on: ubuntu-latest
    
#     steps:
#     - uses: actions/checkout@v2
    
#     - name: Login to Docker Hub
#       uses: docker/login-action@v1
#       with:
#         username: ${{ secrets.DOCKER_USER }}
#         password: ${{ secrets.DOCKER_PASSWORD }}
      
#     - name: Set up Docker Buildx
#       uses: docker/setup-buildx-action@v1
      
#     - name: Build and Push
#       uses: docker/build-push-action@v2
#       with:
#         context: .
#         file: ./ProductManagementSystem/pms_api/Dockerfile
#         push: true
#         tags: ${{ secrets.DOCKER_USER }}/eses5_productmanagementsystem:latest

#   dockerize_InventoryManagementSystem:
#     needs: sonarcloud_InventoryManagementSystem
#     runs-on: ubuntu-latest
    
#     steps:
#     - uses: actions/checkout@v2
    
#     - name: Login to Docker Hub
#       uses: docker/login-action@v1
#       with:
#         username: ${{ secrets.DOCKER_USER }}
#         password: ${{ secrets.DOCKER_PASSWORD }}
      
#     - name: Set up Docker Buildx
#       uses: docker/setup-buildx-action@v1
      
#     - name: Build and Push
#       uses: docker/build-push-action@v2
#       with:
#         context: .
#         file: ./InventoryManagementSystem/ims_api/Dockerfile
#         push: true
#         tags: ${{ secrets.DOCKER_USER }}/eses5_inventorymanagementsystem:latest

#   dockerize_OrderManagementSystem:
#     needs: sonarcloud_OrderManagementSystem
#     runs-on: ubuntu-latest
    
#     steps:
#     - uses: actions/checkout@v2
    
#     - name: Login to Docker Hub
#       uses: docker/login-action@v1
#       with:
#         username: ${{ secrets.DOCKER_USER }}
#         password: ${{ secrets.DOCKER_PASSWORD }}
      
#     - name: Set up Docker Buildx
#       uses: docker/setup-buildx-action@v1
      
#     - name: Build and Push
#       uses: docker/build-push-action@v2
#       with:
#         context: .
#         file: ./OrderManagementSystem/oms_api/Dockerfile
#         push: true
#         tags: ${{ secrets.DOCKER_USER }}/eses5_ordermanagementsystem:latest
  
#   dockerize_AuthService:
#     needs: build_AuthService
#     runs-on: ubuntu-latest
    
#     steps:
#     - uses: actions/checkout@v2
    
#     - name: Login to Docker Hub
#       uses: docker/login-action@v1
#       with:
#         username: ${{ secrets.DOCKER_USER }}
#         password: ${{ secrets.DOCKER_PASSWORD }}
      
#     - name: Set up Docker Buildx
#       uses: docker/setup-buildx-action@v1
      
#     - name: Build and Push
#       uses: docker/build-push-action@v2
#       with:
#         context: .
#         file: ./AuthenticationService/auth_service/Dockerfile
#         push: true
#         tags: ${{ secrets.DOCKER_USER }}/eses5_authservice:latest
        
#   dockerize_Gateway:
#     needs: build_Gateway
#     runs-on: ubuntu-latest
    
#     steps:
#     - uses: actions/checkout@v2
    
#     - name: Login to Docker Hub
#       uses: docker/login-action@v1
#       with:
#         username: ${{ secrets.DOCKER_USER }}
#         password: ${{ secrets.DOCKER_PASSWORD }}
      
#     - name: Set up Docker Buildx
#       uses: docker/setup-buildx-action@v1
      
#     - name: Build and Push
#       uses: docker/build-push-action@v2
#       with:
#         context: .
#         file: ./Gateway/api_gateway/Dockerfile
#         push: true
#         tags: ${{ secrets.DOCKER_USER }}/eses5_gateway:latest

#   dockerize_Frontend:
#     needs: sonarcloud_frontend
#     runs-on: ubuntu-latest
    
#     steps:
#     - uses: actions/checkout@v2
    
#     - name: Login to Docker Hub
#       uses: docker/login-action@v1
#       with:
#         username: ${{ secrets.DOCKER_USER }}
#         password: ${{ secrets.DOCKER_PASSWORD }}
      
#     - name: Set up Docker Buildx
#       uses: docker/setup-buildx-action@v1
      
#     - name: Build and Push
#       uses: docker/build-push-action@v2
#       with:
#         context: ./frontend
#         file: ./frontend/Dockerfile
#         push: true
#         tags: ${{ secrets.DOCKER_USER }}/eses5_frontend:latest
